.result {
  display: none;
  margin-top: 10px;
  background-color: white;
  border: 2px solid rgba(255, 192, 203, 0.404);
  padding: 5px;
  border-radius: 10px;
  color: rgba(4, 42, 73, 0.644);
  font-family: verdana;
  font-size: 20px;
}

.formpanel {
  padding: 20px;
  color: rgb(177, 113, 9);
  font-size: 20px;
  font-family: helvetica;
  background-image: url(../img/1.jpg);
}

.resultdiv {
  display: none;
  padding: 10px;
  background-image: url(../img/1.jpg);
}

.jumbotron {
  background-image: linear-gradient(to top left, rgb(9, 157, 177), rgb(181, 246, 246));
  color: rgb(248, 250, 250);
  font-family: verdana;
}

label {
  background-color:whitesmoke;
  padding: 3px;
}
